---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <figure>
    <img src="/assets/Orr_headshot.jpg" alt="photo" width=40% align="left" hspace="30">
    <p>Welcome! I am a PhD candidate in the Department of Political Science at Yale University. In 2021-2022 I will be a postdoctoral fellow at the Immigration Policy Lab at Stanford University. In fall of 2022, I am looking forward to joining the University of Richmond Department of Mathematics and Computer Science as an Assistant Professor.</p>
    <p>My research primarily examines health policy, political polarization, and health effects of discrimination.</p>
    <p>I'm always happy to discuss findings and share drafts via email.
  </figure> 

</div>
